/pythonProject/.venv/etc/
/pythonProject/.venv/Lib/
/pythonProject/.venv/Scripts/
/pythonProject/.venv/share/
/electron/node_modules/
/electron/dist/
/electron/certs/
/electron/.http-mitm-proxy/
electron/package-lock.json
electron/net-log.json
electron/package-lock.json
electron/net-log.json
electron-vite-template/plugins/proxy/package-lock.json
